p{
  text-align:center;
}
h3{
  text-align: center;
}
img {
  border: 20px solid black;
}
h4 {padding:20px;
  
}

h1{ margin :50px

}

h1 {
  background-color:green;

}

h1{ border :5px solid black

}

p{ font-family:Arial sans-serif

}


h4 {
  font-family: impact;
}

p{
  color:green
 }
h1{margin:10px;
  
}


h4 {
  color: green;
}

a {Arial
  
}
H3{MARGIN: 10PX
}
h2{
  background-color:lightblue
}




h2 {
  padding: 21px;
  border: 2px solid green;
}

H4{FONT-FAMILY Arial SANS-SERIF}

  
}
h2{font-family:lobster
p{
  border:2px solid green;
}


h2 {
  padding: 19px;
  border: 7px solid blue;
}

p {text-align :center;}

h4{font-family: 'Georgia', serif;
  font-size: 36px;
  color: darkgreen;
  text-align: center;
  border-bottom: 3px solid #555;
  padding-bottom: 10px;
}


h3 {padding:10px
  
}

